<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsldZYEA7_OyW5VGYvGalX6v2rHvJhskw</string>
	<key>GCM_SENDER_ID</key>
	<string>580734324092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.raynelz.Eventify</string>
	<key>PROJECT_ID</key>
	<string>eventify-6d0de</string>
	<key>STORAGE_BUCKET</key>
	<string>eventify-6d0de.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580734324092:ios:f8f8bfa6a6cbbabb0028f9</string>
</dict>
</plist>